:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.repo-tracker {
  margin: 28px;
}

.repo-tracker button {
  background-color: lightgreen;
  border: none;
  cursor: pointer;
  height: 40px;
}

.repo-tracker button:hover {
  background-color: lightblue;
}

.form-section {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.repo-list-wrapper {
  display: flex;
  flex-direction: row;
}

.repo-list {
  padding: 0;
  width: 50%;
}

.repo-card {
  border: 1px solid grey;
  list-style-type: none;
  margin: 12px 0;
  padding: 16px;
  position: relative;
  cursor: pointer;
}

.delete-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.seen-button {
  border: 1px solid green;
}

.repo-description {
  border: 1px solid grey;
  margin: 28px;
  width: 50%;
}

.repo-description p {
  padding: 0 16px;
}

@media (max-width: 1025px) {
  .form-section {
    flex-direction: column;
  }
  .repo-list-wrapper{
    flex-direction: column;
  }
  .repo-list, .repo-description {
    width: 100%;
    margin: 0;
  }
}
